/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center{
  padding: 50px 5% 0;
}
/* debug */
[class*="col-"]{
  /* height: auto; */
  /* border: 1px solid black; */
}
/* debug */

/* REGOLE HEADER */
nav{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 10%;
  z-index: 100;
  line-height: 50px;
}
#logo{
  width: 50%;
  height: auto;
}
.text-right{
  text-align: right;
}
#menu, #lingue{
  display: inline-block;
  font-size: 12px;
}
#lingue{
  margin-left: 30px;
}
#menu li, #lingue li{
  list-style: none;
  display: inline-block;
  padding-left: 15px;
}
#menu a, #lingue a{
  text-decoration: none;
  color: black;
}

#jumbo .row div{
  margin-top: 50px;
  background-image: url('../img/jumbotron.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}


/* REGOLE MAIN */

/* SEZIONE PRODUCTS */
.products .row .text{
  background-color: #fafafa;
  height: 100%;
  text-align: center;
  padding: 40px 0;
}
.products .row .text>a,h2,h3{
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
}
.products .row h2{
  font-size: 30px;
}
.products .row img{
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}

/* box monopattino */
.products .row>div{
  height: 550px;
  text-align: center;
}
.products .row .padding-right{
  padding-right: 20px;
}

/* box bike */
.products .row .padding-left{
  padding-left: 20px;
}

/* SEZIONE WORK */
.work{
  margin-top: 50px;
}
.work .row.background {
  background-image: url('../img/anziano.jpg');
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
}
#iphone{
  width: 15%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.work .margin{
  margin-top: 100px;
}
.work .text-work{
  font-size: 40px;
}
.work .text-step{
  margin-top: 30px;
}
.work .text-step span{
  font-size: 14px;
  margin-top: 10px;
}


/* SEZIONE SMART MOBILITY */

.social{
  margin-top: 50px;
}


/* footer */
footer{
  background-color: red;
  margin-top: 50px;
  padding: 0 10%;
}
